# dependencies
node_modules

# next
.next
out

# production
build
dist

# env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next-*.log
.next-*.err

# local caches
.npm-cache
tsconfig.tsbuildinfo

# sanity
.sanity
.sanity-dist

# system
.DS_Store
Thumbs.db
